.bg-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, #e2a139, #f9d423);
  padding: 80px;
}
.card {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
.heading {
  color: #a35200;
  font-family: 'Roboto';
  font-size: 42px;
  font-weight: bold;
}
.paragraph {
  color: #334155;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
}
.image {
  width: 200px;
  height: 200px;
}
.btn {
  border: none;
  border-radius: 6px;
  background-color: #e2a139;
  color: #a35200;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  outline: none;
  cursor: pointer;
}
.toss {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}
.count-item {
  color: #475569;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
}
